a {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상을 따라감 */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-underline-offset: true;
  z-index: 50;
}
.contents {
  display: flex;
  /* height: 100%; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left,
.right {
  display: flex;
  gap : 1rem;
  list-style: none;

}


.trackButton {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
